@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,400&display=swap');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @layer base {

   html,
   body,
   #root {
     @apply font-poppins bg-gradient-to-r from-cyan-400 to-red-400
     /* @apply h-full bg-zinc-50 font-poppins bg-gradient-to-r from-cyan-400 to-red-400 */
   }
 }

 @layer components {
  .centeralizer {
    @apply flex justify-center items-center;
  }
  .footer-icons {
    @apply transition-all no-underline text-white  hover:text-sky-500 hover:scale-125 text-2xl;
  }
  .btn-custom {
    @apply bg-sky-500 border-solid border-2 border-main rounded-md font-medium transition-all text-lg hover:opacity-90 hover:bg-main hover:border-sky-500 hover:text-sky-400 active:opacity-100 py-2 px-3 ;
  }
  .profile-input{
    @apply w-full block py-1.5 px-3 text-base font-normal text-neutral-800 bg-white bg-clip-padding border-2 rounded-md border-solid border-slate-500 focus:border-2 dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-0 transition-all
  } 
 
}
 

body::-webkit-scrollbar {
  width: 0.9rem;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.8);
}